#contact {
    float: left;
    width: 300px;
    margin: 15px 0 0 20px;
    
    label {
        font: 12px arial;
        color: $darkText;
        display: block;
        margin-bottom: 4px;
    }
    
    input[type="text"], 
    textarea {
        border: none;
        background: $formFieldBg;
        padding: 8px;
        width: 284px;
        border-radius: 5px;
    }
    
    textarea {
        height: 100px;
    }
    
    button[type="submit"] {
        background: $primaryBtnBg;
        padding: 6px 10px;
        border-radius: 5px;
        border: none;
        color: $white;
        font-weight: bold;
        letter-spacing: 1px;
    }
}