header ul {
    float: right;
    list-style: none;
    
    li {
        float: left;
        margin-left: 40px;
        
        a {
            color: $white;
            font: 12px arial;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}