#search {
    border-radius: 5px;
    padding: 20px 10px 30px;
    
    background: $bgGradientLight; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  $bgGradientLight 0%, #466f82 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$bgGradientLight), color-stop(100%,#466f82)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  $bgGradientLight 0%,#466f82 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  $bgGradientLight 0%,#466f82 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  $bgGradientLight 0%,#466f82 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  $bgGradientLight 0%,#466f82 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bgGradientLight', endColorstr='#466f82',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}

#search-form p {
    float: left;
    margin: 0 25px 0 0;
}

#search-form label {
    font: 12px arial;
    color: $white;
    display: block;
    margin-bottom: 4px;
}

#search-form label strong {
    font-weight: bold;
}

#search-form input[type="text"] {
    border: none;
    background: $white;
    padding: 8px;
    width: 284px;
    border-radius: 5px;
}

#search-term {
    font: 13px arial;
    color: $accentText;
    margin-bottom: 10px;
    
    strong {
        font-weight: bold;
    }
}