$white: #fff;
$darkText: #231f20;
$accentText: #767769;
$accentLine: #edf0ee;
$formFieldBg: #e1e9ee;
$primaryBtnBg: #809ead;
$secondaryBtnBg: #959a8f;
$bgGradientLight: #809ead;
$bgGradientDark: #456f82;